<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8" />
    <title>Passwort erforderlich</title>
    <script src="https://kit.fontawesome.com/49e52d6f34.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/main.css">
</head>

<body>
    <div class="password-grid">
        <div class="passwordpage-bg">
            <div class="passwordpage">
                <h2>Passwort erforderlich</h2>
                <form method="POST" action="/download-secure/<%= uploadId %>">
                    <input class="password-input" type="password" name="password" required placeholder="Passwort eingeben"/>
                    <button class="download-start" type="submit">Datei herunterladen</button> <br>
                    <a href="/" title="Zur Startseite" class="home-icon"><i class="fa-solid fa-house"></i></a>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/background.js"></script>
</body>

</html>