.upload-box {
    background-color: #E5E5E5;
    border: 2px solid #999999;
    border-radius: 30px;
    padding: 40px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    width: 661px;
    height: 439px;
    margin: 20px auto;
    position: relative;
    font-family: "interstate", sans-serif;
    font-weight: 400;
    font-style: normal;
}


