/* Fonts */

@font-face {
    font-family: 'Interstate';
    src: url('fonts/Interstate-Regular.otf') format('otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Interstate';
    src: url('fonts/Interstate-Bold.otf') format('otf');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'Interstate';
    src: url('fonts/Interstate-Light.otf') format('oft');
    font-weight: 300;
    font-style: light;
}

body {
    font-family: interstate light;
    background: #364f59;
}

/* Drop Off Box */
.upload-box {
    color: #666666;
    background-color: #E5E5E5;
    border: 2px solid #999999;
    border-radius: 30px;
    padding: 40px;
    text-align: center;
    cursor: pointer;
    width: 661px;
    height: 439px;
    margin: 20px auto;
    position: relative;
}

/* file icon - Dropoff Zone*/
.file-icon {
    font-size: 70px;
    color: #999999;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dragover {
  border: 2px dashed #364F59;
  background-color: #d4d4ca;
}

.download-link {
    color: #E5E5E5;
}

#copy-link-btn {
    color: #E5E5E5;
    background-color: #50A0BF;
    border: none;
}

#copy-link-btn:hover {
    background-color: #468199;
}

#qrcode-btn {
    color: #E5E5E5;
    background-color: #75BF73;
    border: none;
}

#qrcode-btn:hover {
    background-color: #5a9258;
}